*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.App {
  text-align: center;
  margin: 0 20px;
}

/* src/App.css */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  margin: 8px 0;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #5a54d8;
}
